modules = ["python-3.11"]
[deployment]
run = ["sh", "-c", "bash start.sh"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[[ports]]
localPort = 8080
externalPort = 80

[userenv]

[userenv.shared]

[nix]
packages = ["libxcrypt"]
