modules = ["python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["libxcrypt"]

[deployment]
run = ["sh", "-c", "bash start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
